*{
    margin:0;
    padding:0;
}

.logo{
    text-align: center;
}

.nav{
    background-color:bisque;
    display:flex;
    flex-flow: row wrap;
    justify-content: stretch;
}

.nav li{
    list-style-type: none;
}

.nav a{
    display:inline-block;
    padding:25px;
    margin: 0 25px;
    text-align: center;
    text-decoration: none;
    width: 25vh;
}

.paragraph {
    margin-right:auto;
    width: 50%;
}

.images {
  display: block;
  margin-left: auto;
  width: 50%;
}
