*{
    margin:0;
    padding:0;
}

.logo{
    text-align: center;
}

.nav{
    background-color:bisque;
    display:flex;
    flex-flow: row wrap;
    justify-content: stretch;
    text-align: center;
}

.nav li{
    list-style-type: none;
}

.nav a{
    display:inline-block;
    padding:25px;
    margin: 0 25px;
    text-align: center;
    text-decoration: none;
    width: 25vh;
}

#header{
    text-align:center;
    font-size:45px;
}

.menuItems{
    font-size: 25px;
    text-align: left;
    background-color:bisque;
}

.menuItems img{
    display:block;
    margin:auto;
}

.menuItems p{
    text-align: center;
}