*{
    margin:0;
    padding:0;
}

.logo{
    text-align: center;
}

.nav{
    background-color:bisque;
    display:flex;
    flex-flow: row wrap;
    justify-content: stretch;
    text-align: center;
}

.nav li{
    list-style-type: none;
}

.nav a{
    display:inline-block;
    padding:25px;
    margin: 0 25px;
    text-align: center;
    text-decoration: none;
    width: 25vh;
}

.simpleInput{
    text-align:center;
}

.options{
    text-align: center;
}

.submitButton{
    text-align: center;
}

.submitButton button{
    height: 5vh;
    width: 20vh;
    background-color: blue;
    color: white;
}